[Unit]
Description=InstallHelper
Requires=network.target
After=network.target

[Service]
Type=simple
User=vapor
Group=vapor
Restart=always
RestartSec=3
WorkingDirectory=/home/vapor/install-helper
ExecStart=/home/vapor/install-helper/.build/release/App serve --env production
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=install-helper-vapor
Environment="PORT=2550"

[Install]
WantedBy=multi-user.target